.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: '100%';
    flex-direction: column;
  }

  .centered {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemsContainer{
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly;
}

.middle {
  display: flex;
  padding: 20px;
  margin: 0;
}

ol {

}

li {

}

.app-logo {
    height: 15vmin;
    pointer-events: none;
  }

  .title {
    font-size: 40px;
    color: #069cc6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.subTitle {
    font-size: 20px;
    font-weight: 100;
    color: #069cc6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.blueText {
  font-size: 16px;
  font-weight: 100;
  color: #069cc6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blackText {
  font-size: 16px;
  font-weight: 100;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input {
    width: 200px;
    height: 28px;
    border: 1px solid #1414ff23;
    border-radius: 10px;
    font-size: 18px;
    color: #0b4b5b;
    padding: 5px;
    margin: 10px 0 10px 0;
}

.bigBtn {
    background-color: #069cc6;
    font-size: 23px;
    color: white;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    width: 200px;
}

.addBtn {
    background-color: #069cc6;
    font-size: 23px;
    color: white;
    margin: 10px 0 10px 0;
    border-radius: 50px;
}

  @media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }